html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**  Reset para REMS -62.5% = 10px de 16px  **/
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #dbdbc2 !important;
}


/* ---------------- animaciones ----------------------*/

.animacion-arriba {
    opacity: 0;
    transition: all 0.7s;
}

.animacion-arriba-servicios {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-abajo {
    opacity: 0;
    transition: all 0.7s;
}

.animacion-abajo-servicios {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-derecha {
    opacity: 0;
    transition: all 0.7s;
}

.mostrar-arriba {
    animation: mostrar-arriba 1s;
}

@keyframes mostrar-arriba {
    0% {
        transform: translateY(7rem);
    }
    100% {
        transform: translateY(0);
    }
}

.mostrar-abajo {
    animation: mostrar-abajo 1s;
}

@keyframes mostrar-abajo {
    0% {
        transform: translateY(-7rem);
    }
    100% {
        transform: translateY(0);
    }
}

.mostrar-derecha {
    animation: mostrar-derecha 0.5s;
}

@keyframes mostrar-derecha {
    0% {
        transform: translateX(9rem);
    }
    100% {
        transform: translateX(0rem);
    }
}


/* ------------------------------ nav -------------------*/

.barra {
    background-color: rgba(141, 109, 90, 0.473);
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    top: 0;
}

.barra a {
    color: #e6e2d2 !important;
    font-family: 'Lemonada', cursive;
}

.nav-logo {
    font-size: 4rem;
    margin-left: 2rem;
}

.nav-logo a {
    font-family: 'Lemonada', cursive;
    font-size: 2rem !important;
}

.navegacion {
    display: none;
}

@media (min-width: 768px) {
    .navegacion {
        display: inline-block;
        padding-top: 2rem;
    }
    .navegacion a {
        padding: 0 3rem;
        font-size: 2.5rem;
        transition: 0.2s ease;
    }
    .navegacion a:hover {
        color: #161616 !important;
    }
    .navegacion ul {
        display: flex;
        r;
    }
    .nav-logo a {
        font-family: 'Lemonada', cursive;
        font-size: 3.5rem !important;
    }
}


/* -------------------- menu mobile ------------*/

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}

#btn-menu {
    display: none;
}

.nav-mobile {
    position: fixed;
    right: -25rem;
    width: 25rem;
    height: 60%;
    background-color: rgba(141, 109, 90, 0.836);
    transition: all 0.5s;
}

@media (min-width: 310px) and (max-width: 360px) {
    .nav-mobile {
        position: fixed;
        right: -20rem;
        width: 20rem;
        height: 50%;
        background-color: #c2c02d93;
        transition: all 0.5s;
    }
}

.nav-mobile p {
    font-size: 2.2rem;
    color: white;
    text-align: center;
    line-height: 7rem;
    background-color: rgba(175, 136, 113, 0.836);
    user-select: none;
}

.nav-mobile ul {
    padding-left: 0;
}

.nav-mobile ul li {
    background-color: rgba(175, 136, 113, 0.836);
}

.nav-mobile ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 6.5rem;
    font-size: 2rem;
    color: white;
    padding-left: 7rem;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    margin-left: 0;
}

label #bt,
label #cancel {
    position: absolute;
    cursor: pointer;
}

label #bt {
    right: 4rem;
    top: 1.3rem;
    font-size: 3.5rem;
    color: white;
    transition: all 0.5s;
}

label #cancel {
    z-index: 1111;
    right: -20rem;
    top: 3.5rem;
    font-size: 3rem;
    color: white;
    padding: 0.4rem 0.9rem;
    transition: all 0.5s ease;
}

#btn-menu:checked~.nav-mobile {
    right: 0;
}

#btn-menu:checked~label #bt {
    right: 25rem;
    opacity: 0;
    pointer-events: none;
}

#btn-menu:checked~label #cancel {
    left: 19.5rem;
}

@media (min-width: 375px) and (max-width: 380px) {
    #btn-menu:checked~label #cancel {
        left: 15.5rem;
    }
}


/*-------------------------- banner ----------------------*/

.container-banner img {
    height: 60VH;
}

.container-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-titulo {
    color: #ffffff;
    background-color: rgba(141, 109, 90, 0.295);
    position: absolute;
    padding: 2rem 3rem;
    margin-top: 17rem;
    border-radius: 15px;
}

.container-titulo h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.container-titulo p {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .container-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .container-banner img {
        height: 120vh;
    }
    .container-titulo {
        color: #ffffff;
        background-color: rgba(141, 109, 90, 0.295);
        position: absolute;
        padding: 2rem 3rem;
        margin-top: 22rem;
        border-radius: 15px;
    }
    .container-titulo h1 {
        font-size: 6.5rem;
        font-weight: 700;
    }
    .container-titulo p {
        font-size: 4.5rem;
    }
}


/* ----------------------------- nosotros *---------------------*/

.nosotros {
    background-color: #e6e6de;
    margin: 2rem;
    padding: 5rem;
}

.nosotros span {
    font-size: 2rem !important;
    font-weight: 700;
}

@media (min-width: 768px) {
    .nosotros {
        display: flex;
        justify-content: center;
    }
}

.nosotros h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #dbb921;
}

.nosotros h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #dbb921;
}

.nosotros p {
    font-size: 1.5rem !important;
    text-align: justify;
    padding: 1rem;
}

@media (min-width: 768px) {
    .texto {
        margin-right: 0;
        padding-right: 10rem;
    }
    .nosotros h2 {
        font-size: 7rem;
        margin-bottom: 1rem;
    }
    .nosotros h3 {
        font-size: 4.5rem;
    }
    .nosotros span {
        font-size: 5rem !important;
        font-weight: 700;
    }
    .nosotros p {
        font-size: 3rem !important;
        text-align: justify;
        margin-bottom: 4rem;
        padding: 1rem;
    }
    .fotos p {
        margin-bottom: auto;
    }
    aside {
        width: 200rem;
    }
}

.fotos {
    margin-top: 2rem;
}

@media (min-width: 771px) and (max-width: 1280px) {
    .fotos {
        margin-top: 8rem;
    }
    .fotos img {
        height: 35rem;
    }
    .nosotros span {
        font-size: 3rem;
        font-weight: 700;
    }
    .nosotros p {
        font-size: 1.8rem;
        text-align: justify;
        margin-bottom: 4rem;
        padding: 1rem;
    }
    .fotos p {
        margin-bottom: auto;
    }
}


/***************** servicios **********************/

.servicios {
    /*background-color: #615a46;*/
    background-image: url(../img/sombrero.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #222222bb;
    color: white;
}

.servicios h4 {
    font-family: 'Lemonada', cursive;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
    border-bottom: 1px solid white;
    margin: auto 6rem;
}

@media (min-width: 768px) {
    .servicios h4 {
        font-size: 5rem;
        line-height: 10rem;
    }
}

ul {
    list-style: none;
}

.listas {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .listas {
        font-size: 4rem;
        margin-top: 6rem;
        padding-bottom: 3rem;
    }
}

.lista {
    margin: 3rem 2.5rem 2rem auto;
    line-height: 4rem;
}

@media (min-width: 768px) {
    .lista {
        margin: auto;
        line-height: 6rem;
    }
}


/* --------------------------- precios ----------------*/

.contenedor-precios {
    color: white;
    width: 100%;
    display: flex;
}

.precio {
    font-family: 'Lemonada', cursive;
    font-size: 3.8rem;
    text-align: center;
    padding-top: 2rem;
    border-bottom: 2px solid #dbb921;
    margin: auto 6rem;
    line-height: 3rem;
}

.precio span {
    font-size: 1.5rem;
}

.card-precio {
    width: 100%;
    margin: 2rem;
    border-radius: 6px;
    overflow: hidden;
    background-image: url(../img/guitarra.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #222222bd;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.445);
    transition: 0.5s ease;
}

.card-precio:hover {
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.753);
    transform: translateY(-7%);
}

@media (min-width: 768px) {
    .contenedor-cards-precios {
        display: flex;
    }
    .card-precio {
        flex-basis: calc(33.3% -1rem);
    }
}

.contenido-card {
    text-align: center;
    padding-bottom: 3rem;
}

.contenido-card p {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
}

.contenido-card p:last-of-type {
    margin-top: 2rem;
}

.por-hora {
    padding-top: 1rem;
    background-color: rgba(192, 164, 104, 0.63);
    margin-top: 0;
}

.contenido-card span {
    color: rgb(235, 225, 219);
    background-color: rgba(192, 164, 104, 0.63);
    font-size: 3.5rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #e6e2d2;
}

.btn {
    font-size: 2.5rem !important;
}

.mejor p {
    font-family: 'Lemonada', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    border-bottom: 2px solid #dbb921;
    margin: auto 6rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .mejor p {
        font-family: 'Lemonada', cursive;
        font-size: 3.8rem;
        text-align: center;
        padding-top: 2rem;
        border-bottom: 2px solid #dbb921;
        margin: auto 6rem;
        margin-bottom: 3rem;
    }
}


/* ---------------------------- contacto --------------------*/

.contacto {
    background-color: #5a4d32;
    color: #e6e2d2;
    height: 30rem;
    width: 100%;
}

.contacto h4 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

.contacto span {
    font-size: 2.5rem;
    padding: 4rem;
}

.contacto a {
    font-size: 1.8rem;
    color: #e6e2d2 !important;
    margin-left: 4rem;
    display: inline-block !important;
}

@media (min-width: 360px) and (max-width: 370px) {
    .contacto a {
        font-size: 1.5rem;
        color: #e6e2d2 !important;
        margin-left: 4rem;
    }
}

@media (min-width: 771px) and (max-width: 1280px) {
    .contacto span {
        font-size: 3rem;
        padding: 4rem;
    }
    .contacto a {
        font-size: 2.8rem;
        color: #e6e2d2 !important;
        margin-left: 4rem;
    }
}

.datos-contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* -------------------------- footer --------------------*/

footer {
    color: #e6e2d2;
    background-color: #161616;
}

footer p {
    font-family: 'Lemonada', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
}

.navegacion-footer {
    display: flex;
    justify-content: center;
}

footer ul {
    padding: 2rem;
    font-size: 1.8rem;
}

@media (min-width: 769px) {
    footer ul {
        display: flex;
        padding: 2rem;
        font-size: 2rem;
    }
    footer li {
        padding: 0 8rem;
    }
}

footer a {
    color: #e6e2d2 !important;
}

#copy {
    font-size: 1.5rem;
    border-top: 1px solid #e6e2d2;
}

#galo {
    font-size: 1rem;
    margin-bottom: 0;
}


/* ------------------------ boton whastapp --------------------*/

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}